.home-container {
  text-align: center;
  margin-top: 15vh;
  font-family: 'Segoe UI', sans-serif;
}

h1 {
  font-size: 2.5em;
  color: #007acc;
}

p {
  font-size: 1.2em;
  color: #444;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007acc;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}